<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class = "col-md-3">
            <p class = "lead"><%= destination.name %></p>
            <!-- List group -->
            <div class="list-group mb-3" id="myList" role="tablist">
              <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Location</a>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Description</a>
            </div>
            
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="home" role="tabpanel"><%- destination.map %></div>
              <div class="tab-pane fade show" id="profile" role="tabpanel"><p><%= destination.description %></p></div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card w-100 mb-3">
                <img class="card-img-top" src="<%= destination.image %>" style="width: 100%">
                <div class="card-body">
                    <h4><a><%= destination.name %></a></h4>
                    <p><%= destination.description %></p>
                    <p><em>Submitted By <%=destination.author.username%></em></p>
                    <% if(currentUser && destination.author.id.equals(currentUser._id)){ %>
                    <a class = "btn btn-xs btn-warning" href = "/destinations/<%=destination._id%>/edit">Edit</a>
                    <form class="delete-form" action="/destinations/<%=destination._id%>?_method=DELETE" method="POST">
                        <button class = "btn btn-xs btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
        
            <div class="card w-100 p-4">
                <div class="text-right">
                    <a class = "btn btn-success" href= "/destinations/<%=destination._id%>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% destination.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class = "pull-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" href="/destinations/<%=destination._id%>/comments/<%=comment._id%>/edit">Edit</a>
                            <form class="delete-form" action="/destinations/<%=destination._id%>/comments/<%=comment.id%>?_method=DELETE" method="POST">
                                <button class = "btn btn-xs btn-danger">Delete</button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                    
                   
                <% }); %>

            </div>
        </div>
    </div>    
    
</div>










<% include ../partials/footer %>